.WatchLater {
    &__title {
        padding: 1rem 6rem;
        h1 {
            font-size: 24px;
        }
    }

    &__noVideos, &__error, &__loading {
        text-align: center;
        margin: 40vh 0;
        font-size: 30px;
        font-weight: bold;
    }
}