.Button {
    &__contents {
        border: none;
        background-color: #DD0426;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        padding: 10px 12px;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0A4272;
        }
    }
}