@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

.Player {
    &__video {
        margin-top: 0rem;
        text-align: center;
        background-color: black;
        iframe {
            width: 80vw;
            height: 40vw;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin: 0 25px;
    }

    &__title {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2rem;
    }

    &__desc {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        white-space: nowrap;  
        overflow: hidden; 
        text-overflow: ellipsis;
        cursor: pointer;
        transition: all 1s;
        &--active {
            white-space: normal;
            overflow: auto;
            text-overflow: unset;
            transition: all 1s;
        }
        &:after{
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            height: 7px;
            width: 30px;
            border-radius: 50px;
            background-color: #DD0426;
        }
    }

    &__channelName {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__publishedAt {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 1.2rem;
    }

    &__add {
        position: relative;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        width: 40px;
        height: 40px;
        margin: auto;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 1s;

        &--active {
            transform: rotate(45deg);
        }
    }

    &__relatedVideos {
        h1 {
            margin: 1rem 25px;
        }

        &:before {
            content: '';
            display: block;
            height: 3px;
            width: 95vw;
            background-color: #0A4272;
            opacity: 0.5;
            border-radius: 50px;
            margin: 2rem auto;
        }
    }
    
    &__error {
        text-align: center;
        margin: 40vh 0;
        font-size: 30px;
        font-weight: bold;
    }

    &__loading {
        text-align: center;
    }
    
    &__spinner {
        animation: spin 1s infinite linear;
        margin: 30vh 0;
        width: 80px;
    }

    @media (max-width: 900px){
        &__video {
            margin-top: 1rem;
            iframe {
                height: 70vw;
            }
        }

        &__relatedVideos {
            text-align: center;
        }
    }
}