@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.Player__video {
  margin-top: 0rem;
  text-align: center;
  background-color: black;
}

.Player__video iframe {
  width: 80vw;
  height: 40vw;
}

.Player__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  margin: 0 25px;
}

.Player__title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 2rem;
}

.Player__desc {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Player__desc--active {
  white-space: normal;
  overflow: auto;
  text-overflow: unset;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Player__desc:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  height: 7px;
  width: 30px;
  border-radius: 50px;
  background-color: #DD0426;
}

.Player__channelName {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  font-size: 1.2rem;
  font-weight: bold;
}

.Player__publishedAt {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  font-size: 1.2rem;
  text-align: center;
}

.Player__add {
  position: relative;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 40px;
  height: 40px;
  margin: auto 0;
  margin-left: auto;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Player__add--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Player__add:hover + .Player__tooltip {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.Player__tooltip {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  display: block;
  margin-left: auto;
  margin-right: -10px;
  height: 17px;
  width: auto;
  opacity: 0;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  background-color: #DD0426;
  border-radius: 25px;
  z-index: 2;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Player__tooltip:after {
  z-index: -1;
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 3px;
  display: block;
  background-color: #DD0426;
  bottom: 13px;
  right: 21px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Player__relatedVideos h1 {
  margin: 1rem 25px;
}

.Player__relatedVideos:before {
  content: '';
  display: block;
  height: 3px;
  width: 95vw;
  background-color: #0A4272;
  opacity: 0.5;
  border-radius: 50px;
  margin: 2rem auto;
}

.Player__error {
  text-align: center;
  margin: 40vh 0;
  font-size: 30px;
  font-weight: bold;
}

.Player__loading {
  text-align: center;
}

.Player__spinner {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  margin: 30vh 0;
  width: 80px;
}

@media (max-width: 900px) {
  .Player__video {
    margin-top: 1rem;
  }
  .Player__video iframe {
    height: 70vw;
  }
  .Player__relatedVideos {
    text-align: center;
  }
  .Player__tooltip {
    display: none;
  }
}
/*# sourceMappingURL=PlayerStyles.css.map */