.Player {
    &__video {
        margin-top: 1rem;
        text-align: center;
        background-color: black;
        iframe {
            width: 80vw;
            height: 40vw;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        margin: 0 25px;
    }

    &__title {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 2rem;
    }

    &__desc {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        white-space: nowrap;  
        overflow: hidden; 
        text-overflow: ellipsis;
        cursor: pointer;
        transition: all 1s;
        &--active {
            white-space: normal;
            overflow: auto;
            text-overflow: unset;
            transition: all 1s;
        }
        &:after{
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 5px;
            height: 7px;
            width: 30px;
            border-radius: 50px;
            background-color: #0A4272;
        }
    }

    &__channelName {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__publishedAt {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 1.2rem;
    }

    &__relatedVideos {
        h1 {
            margin: 1rem 25px;
        }
    }

    &__loading, &__error {
        text-align: center;
        margin: 40vh 0;
        font-size: 30px;
        font-weight: bold;
    }
}