.VideoCard {
    width: 100vw;
    max-width: 412px;
    min-width: 320px;
    height: auto;
    margin: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    a {
        color: black;
        padding: 0;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
    }

    &__thumbnail {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 92vw;
        max-height: 310px;
        max-width: 412px;
        min-height: 240px;
        min-width: 320px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    &__cardTitle {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 10px;
        padding-top: 5px;
        margin: 0.6rem 0;
        font-size: 1rem;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__desc {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0 10px;
        padding-bottom: 10px;
        margin: 0.6rem 0;
        font-size: 14px;
    }

    //Bottom part of card styling
    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 5px 20px 10px 20px;
    }
    
    &__channelTitle {
        grid-column-start: 1;
        grid-column-end: 2;
        display: block;
        margin: 0.5rem 0;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__publishedAt {
        grid-column-start: 2;
        grid-column-end: 3;
        display: block;
        margin: 0.5rem auto;
        font-size: 14px;
        font-weight: bold;
    }

    &__add {
        grid-column-start: 3;
        grid-column-end: 4;
        width: 30px;
        height: 30px;
        margin: 0;
        margin-left: auto;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 1s;

        &--active {
            transform: rotate(45deg);
        }
    }

    &__add:hover+.VideoCard__tooltip {
        opacity: 1;
        transform: translate(230px, 40px);
    }

    &__tooltip {
        display: block;
        opacity: 0;
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        color: white;
        padding: 5px 10px;
        background-color: #DD0426;
        border-radius: 25px;
        transform: translate(230px, 50px);
        z-index: 2;
        transition: all 0.3s;

        &:after {
            z-index: -1;
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            border-radius: 3px;
            display: block;
            background-color: #DD0426;
            bottom: 10px;
            transform: rotate(45deg) translate(75px, -75px);
        }
    }

    @media (max-width: 900px) {
        &__tooltip {
            display: none;
        }
    }
}