.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    &__logo {
        margin: 1.2rem 0;
        width: 200px;
    }

    .SearchBar {
        display: inline-block;
    }

    .Navbar {
        &__list {
            display: inline-block;
        }
    }

    @media (max-width: 900px){
        display: none;
    }
}