.Dashboard {
    &__search-options {
        display: flex;
        justify-content: space-between;
        padding: 1rem 6rem; 

        h1 {
            font-size: 24px;
        }
    }

    &__loading {
        text-align: center;
        margin: 40vh 0;
        font-size: 30px;
        font-weight: bold;
    }

    @media (max-width: 900px){
        &__search-options {
            padding: 1.5rem;

            h1 {
                display: none;
            }
        }
    }
}