@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

.Dashboard {
    &__search-options {
        display: flex;
        justify-content: space-between;
        padding: 1rem 6rem; 

        h1 {
            font-size: 24px;
        }
    }

    &__error {
        text-align: center;
        margin: 40vh 0;
        font-size: 30px;
        font-weight: bold;
    }

    &__loading {
        text-align: center;
    }

    &__spinner {
        animation: spin 1s infinite linear;
        margin: 30vh 0;
        width: 80px;
    }

    &__nextPage {
        height: 30px;
        width: 30px;
        background-color: red;
        margin: 2rem auto;
        cursor: pointer;
    }

    @media (max-width: 900px){
        &__search-options {
            padding: 1.5rem;

            h1 {
                display: none;
            }
        }

        &__spinner {
            margin: 20vh 0;
        }

        &__error {
            margin: 20vh 0;
        }
    }
}