.BurgerNav {
    padding: 1.8rem 1.3rem;
    cursor: pointer;
    position: relative;
    z-index: 4;

    &:before {
        content: '';
        display: block;
        height: 5px;
        width: 15px;
        background-color: black;
        border-radius: 75px;
        transform: rotate(0deg);
        transition: all 0.5s;
    }

    &__icon {
        display: block;
        margin: 5px 0;
        height: 5px;
        width: 30px;
        background-color: black;
        border-radius: 75px;
        transform: rotate(0deg) translateY(0px);
        transition: all 0.5s;
    }

    &:after {
        content: '';
        display: block;
        height: 5px;
        width: 15px;
        transform: translateX(15px) rotate(0deg);
        background-color: black;
        border-radius: 75px;
        transition: all 0.5s;
    }

    &--active {
        &:before {
            transform: rotate(45deg) translate(5px, 3.5px);
            background-color: white;
        }

        &__icon {
            transform: rotate(-45deg) translate(-1px);
            background-color: white;
        }

        &:after {
            transform: translateX(15px) rotate(45deg) translate(-5px);
            background-color: white;
        }
    }

    &__sideDrawer {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        width: 300px;
        background-color: #DD0426;
        height: 100vh;
        transform: translateX(300px);
        transition: all 0.5s;

        &--active {
            transform: translateX(0px);
        }
    }

    &__link {
        color: white;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin-top: 33px;
        font-weight: 800;
        font-size: 18px;
        cursor: pointer;
    }

    &__overlay {
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0);
        cursor: pointer;
        transition: all 1s;

        &--active {
            z-index: 1;
            background: rgba(0,0,0,0.3);
        }
    }

    @media (max-width: 500px) {
        &__sideDrawer {
            width: 200px;
            transform: translateX(200px);
            &--active {
                transform: translateX(0px);
            }
        }

        &__item {
            margin: 0 auto;
            margin-top: 95px;
        }
    }
}